/* partie positionnement et déco */
#menu a { 
	display:block; 
	color: silver; 
	font-size:18px;
	text-shadow:0.3px 0.3px 0px black;
	text-decoration:none;
}
#menu > li,
#menu > li li {
	position: relative;
	display:inline-block;
	width: 220px;
		height: 33px;
	padding: 8px 17px;
	background-color:rgba(2,2,2,0.2);

	border:0px solid;
border-color:#cfd8dc;

	
}
#menu > li li { background: transparent none; }
#menu > li li a { color: #263238; }
#menu > li li:hover { background:url("aa.jpg");     -webkit-animation: mymove 0s linear 2s 1  ; /* Chrome, Safari, Opera */ 
    animation: mymoveli 0.1s linear 0.4s ; }
#menu > li:first-child {
	border-right: 1px solid #263238;
	
}
#menu > li + li {
	border-left: 1px solid #263238;
	border-right: 1px solid #263238;
}
#menu > li:last-child {
	border-right: 1px solid #263238;
	border-left: 1px solid #263238;

}
#menu > li:hover {
	background-color:rgba(2,2,2,0.3);

}
/* (presque) fin de la partie positionnement/déco */
/* dans cette déclaration, on fixe le max-height */
#menu ul {
	position: absolute;
	top: 2em; left: 0;
	max-height:0em;	
	margin: 0; padding: 0;
	background-color: #263238;
	background-image: linear-gradient(#fff,#ddd);
	overflow: hidden;
	transition: 0.4s max-height 0.1s;
	
}
/* ici on change la valeur de max-height au :hover */
#menu > li:hover ul {
	/* à adapter, le minimum est le meilleur mais voyez large ?? */
	max-height: 16em;
		background-color: #263238;
}
footer p{
text-align:center;
font-style:italic;
font-weight:bold;
font:#00bcd4;
}



#englobe
{

margin :auto;
width:95%;
height:85%;
background-color:rgba(2,2,2,0.2);
padding:14px;
margin:0px auto;
border:0px solid;
border-color:#cfd8dc;
        
}

input
{
  
width:200px;
border-radius:10px;
background-color:rgba(2,2,2,0.002);
}

input:hover
{
width:200px;
border-radius:15px;
background-color:rgba(2,2,2,0.2);
}









#deroul
{
margin:-8.5% ;
padding :1.5%;
width:89%;
height:64%;
position:relative;



}


img
{

float:left;
margin: 3px;
padding:4px;
width:98%;
height:94%;

}
p
{
font-size:20px;
}

body

{
background-image:url("inv.jpg");
 background-color:#ffffff;
font:#00bcd4;
}


#text
{
font-weight:bold;
color:silver;
float:auto;
border:0px solid;
border-color:rgba(2,2,2,0.1);
background-color:rgba(2,2,2,0);
margin :2px 10px ;
padding :1px;
width:42%;
height:38%;
position:relative;
 float:left;
  font-size:20px;
}

#pub

{
border:0px solid;
border-color:rgba(2,2,2,0.1);

margin :2px 40px;
padding :1px;
width:43%;
height:47%;
position:relative;

 float:right;


}







#tete
{
    animation: mymovetete 3s infinite;
border:0px solid;
background-color:rgba(19,19,19,0.4);
width:800px;
height:55px;
font-weight:bold;
font-size:20px;
margin:auto;
text-align:center;

}





#tete:hover
{
border:0px solid;
background-color:rgba(19,19,19,0.1);
width:800px;
height:55px;
font-weight:bold;
font-size:20px;
margin:auto;
text-align:center;
border:0px solid;



}
a:visited
{
background-color:#263238;
}
a:link
{
  color:#263238;
 font-size:20px;
}

li{
color:rgba(19,19,19,0.0);
}
a
{

                     color:silver;
	text-decoration:none;

}

a:hover
{

                     color:rgba(19,19,19,0.8);
	text-decoration:none;

}
#barre
{
  -webkit-animation: mymove2 1s  linear 2s ; 
    animation: mymove 2.5s ;
background-image:url("der.jpg");
margin :60px;
padding :auto;
width:92%;
height:15%;
border:0px solid;
border-color:#cfd8dc;
box-shadow:0px 3px cyan;

}
.section
{
height:500px;
background-color:#16a085;
line-height:500px;
}

.loader-quart
{

border-radius:50px;
border:5px  solid #f48fb1;
color:red;
}
.loader
{
width:30px;
height:30px;
display:inline-block;
vertical-align:middle;
position:relative;
}


.loader-quart:after
{
right:-6px;
bottom:-6px;
content:'';
top:-6;left:-6;
position :absolute;
border-radius:50px;
animation:spin 1s linear 0s infinite;
border:6px solid transparent;
border-top-color:cyan;
}

@keyframes spin
{
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}

}
@keyframes mymove {
    0%   {top: 0px; background-color: rgba(2,2,2,0.4); width: 150px;}
    100% {top: 200px; background-color: rgba(2,2,2,0.4); width: 1180px;}
}

@keyframes mymoveli{
    0%   {top: 0px; background:cyan; width: 140px; 		height: 33px;}
    100% {bottom: 220px; background:red; width: 220px; 		height: 33px;}
}


@keyframes mymove3 {
    0%   {top: 0px; left: 0px; background-color: #ff1744;}
    25%  {top: 0px; left: 3px; background: #2196f3;}
    50%  {top: 3px; left: 3px; background: #ffeb3b;}
    75%  {top: 3px; left: 0px; background: #00e676;}
    100% {top: 0px; left: 0px; background: #ff1744;}
}
@keyframes mymovetete {
    0%   {top: 0px; background-color:rgba(2,2,2,0.7); height: 55px; width:800px;}
    100% {bottom: 200px; background-color:rgba(2,2,2,0.2); height: 55px;width:800px;}
}
#point
{
  -webkit-animation: mymove3 1s  linear 2s  ; 
    animation: mymove3 2.5s infinite;
	width:297px;
	height:26px;
margin-left:10px;
display:block;
float:left;
border:0px solid;
border-radius:15px 15px;


}
